<table>
<tr><th>District</th><th>Registered</th><th>Approved</th></tr>
<% @dc.each do |dc|%>
   <% next if dc.registered.blank? %>
  <tr><td><%= dc.district_code %></td><td><%= dc.registered %></td><td><%= dc.approved %></td><tr>
<% end %>
</table>
