<script src="/assets/highcharts/jquery-2.1.1.js"></script>
<body id="fade" style="height: 100%;">

<iframe id="frame" style="height: 100%; width: 100%; border: 1px solid black; overflow: hidden;" src="<%= @url %>">


</iframe>
<script type="text/javascript">
document.getElementById("frame").style.height= (window.innerHeight) + "px";
$(document).ready(
    function(){

        setTimeout(function(){
            $('#fade').fadeOut('slow', function(){
                $('#fade').fadeIn('slow');
                  console.log("Fade In");
                $(location).attr("href", "/dashboard/index");
            });
        },10000);


    }
);


</script>
</body>
