development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: ebrs_hq_dashboard
  suffix: development
  username: admin
  password: password

test:
  <<: *development
  suffix: test

production:
  protocol: 'https'
  host: localhost
  port: 5984
  prefix: ebrs_hq_dashboard
  suffix: production
  username: root
  password: 123
