default: &default
  remote_http_options:  # options for remote HTTP operations:
    user:             # user name to use for basic auth 
    password:         # password to use for basic auth 
    timeout:      10  # data timout - increase for connections known to be slow, decrease to allow faster feedback on broken lines
    open_timeout: 10  # open_timout, same as above
  
development: &development
  <<: *default
  districts: blk|ck|cz|da|dz|ka|kk|ku|la|mc|mh|mhg|mj|mn|mz|nb|ne|nn|ns|pe|ru|sa|to|za
  app_uri: localhost:4000
  remote_http_options:
    user:         admin
    password:     password
    timeout:      600
    open_timeout: 600
    
production:
  <<: *development
