:ebrs_hq_cumulative_stats:
  :protocol: 'http'
  :host: localhost
  :port: '3000'
  :url: 'get_dashboard_cumulative_stats'
:ebrs_hq_daily_stats:
  :protocol: 'http'
  :host: localhost
  :port: '3000'
  :url: 'get_dashboard_daily_stats'
