h4{

	color: #006680;
	white-space: nowrap;
}
th {

    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}
td, th {
    padding-left: 0.6em;
		padding-right: 0.5em;
		padding-top: 0;
		padding-bottom: 0;
    border-bottom: 1.5px dotted #008FB2;
    white-space: nowrap;
}

thead th {
	border-top: none;
	white-space: nowrap;
	padding: 0px;
}

.row{
	margin: 0;
	max-height: 5px;
	white-space: nowrap;

}

body {
    overflow:hidden;
}

#main{
	color: #004586;
	width: 99%;
	max-height: 600px;
	margin: 0.5% auto;
	margin-top:0.5%;
	border: solid 0.144em;
	border-color: #008FB2;
	white-space: nowrap;

}

#main td{
	font-size: 0.95em;
	white-space: nowrap;
}
#barchart{
	/*background: #003D4C;*/
	margin-top:1%;
	margin-right:1%;
	width: 42em;
	white-space: nowrap;
}
#barchart table{
	width: 98%;
	margin-bottom: 0;
	margin-bottom: 0;
	white-space: nowrap;
}
#barchart thead{
	font-size: 0.7em;
	white-space: nowrap;
}
#barchart th{
	vertical-align: bottom;
	white-space: nowrap;
}
#barchart tbody{
	font-size: 0.8em;
	white-space: nowrap;
}

#barchart td  {
		height: 3em;
		white-space: nowrap;
}
#barchart_right{
	/*background: #003D4C;*/
	margin-top:1%;
	margin-right:1%;
	width: 42em;
	white-space: nowrap;
}

#barchart_right table{
	
	margin-bottom: 0;
	margin-bottom: 0;
	white-space: nowrap;
}
#barchart_right thead{
	font-size: 0.7em;
	white-space: nowrap;
}
#barchart_right th{
	vertical-align: top;
	white-space: nowrap;
}
#barchart_right tbody{
	font-size: 0.8em;
	white-space: nowrap;
}

#barchart_right td  {
		height: 3em;
		width: 17%;
		white-space: nowrap;
}

/** Styling pie chart*/
#piechart{
	color: 	#006680;
	border: solid 0.12em;
	border-color: #008FB2;
	height: auto;
	max-width: 35em;
	margin-top: 0.5em;
	margin-left: 4em;
	white-space: nowrap;
}
#frame{
	min-height: 50em;
	border: 0;
	overflow: hidden;
	scolling: "no";

}
