h4{

	color: #006680;
}
th {

    font-weight: bold;
    text-align: left;
    
}
td, th {
    padding: 0;
    border-bottom: 1.5px dotted #008FB2;
  
}


thead th {
	border-top: none;
	
	padding: 0px;
}
body {
	height: 100%;
    overflow:hidden;
}
#main{
	color: #004586;
	border: solid 0.144em;
	border-color: #008FB2;
	font-size: 115%;
	border: 1px solid #333; 
	width: 100%; 
	height: 100%; 
	overflow: hidden;

}
#right{
	width: 99%
}
#right td,th{
	font-size: 75%;
}

#piechart{
	color: 	#006680;
	border: solid 0.12em;
	border-color: #008FB2;
	width: 80%;
	margin: auto;
	vertical-align: top;
	
}
